node_modules/
**/node_modules/
.vscode
**/.env
**/.env.local
**/.env.dist
.git
.gitignore
.next
node_modules
npm-debug.log
README.md
.env
.env.*
.dockerignore
.DS_Store
**/*.test.js
**/__snapshots__/
build/
dist/
.strapi/
.strapi-updater.json
